.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.switch{
  background-color: dimgray;
}
.switch1{
  background-color: hotpink;
}
.switch2{
  background-color: green;
}
.switch3{
  background-color: darkkhaki;
}
.switch4{
  background-color: blueviolet;
}
.switch5{
  background-color: brown;
}
.switch6{
  background-color: aqua;
}
.switch7{
  background-color: burlywood;
}
.switch8{
  background-color: cadetblue;
}
.switch9{
  background-color: chocolate;
}
.switch10{
  background-color: darkgoldenrod;
}
.switch11{
  background-color: coral;
}